/*!
 * JSIF Custom CSS - Joe Gultekin, Epod Web Solutions Pty Ltd Australia http://www.epodws.com.au
 */
@font-face {
    font-family: Earthwerk;
    src: url("/fonts/earthwerk.otf") format("opentype");
}

body {
	overflow-x: hidden;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    margin: 0 auto;	
}

section.subheader {
	margin: 0;
	padding: 0 35px;
}

section#map {
	padding: 35px 0;
}

section#map .container {
    padding: 0;	
}

body.page-blog-overview section.subheader .form-group {
	margin-top: 40px;
}

section.subheader .container .row h3 {
    font-family: Earthwerk !important;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #6b3077;	
}

section.subheader .container .row h4 {
    font-family: Earthwerk !important;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 31px;
    color: #50a8c2; 
}

section {
	padding: 35px;
}

section#tours {
    padding-top: 50px;
}

section.gallery {
    padding: 0;
}

section.gallery .container {
    padding: 0;
    margin: 20px 0 0 0;
    width: 100%;
}

.html_carousel {
	position: relative;
}

.html_carousel .gallery-pagination {
	position: absolute;
	left: 0;
}

.html_carousel.small .gallery-pagination {
    position: absolute;
    right: 0;
    left: auto;
    bottom: 62px;
}

.html_carousel.small .gallery-pagination img {
    display: inline-block;
    height: auto;
}

.html_carousel .gallery-pagination img {
    display: table;
    height: auto;	
}

.html_carousel div.slide {
    position: relative;
}  
 
.html_carousel div.slide img {
    width: 100%;
    height: 100%;
}

.html_carousel div.slide div {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    position: absolute;
    bottom: 0;
}

.html_carousel div.slide h4 {
    font-family: Earthwerk !important;
    font-size: 21px;
    letter-spacing: 1px;
    padding: 10px 0;
    line-height: 35px;
    text-align: center;
}

.html_carousel.small div.slide h4 {
    font-family: Earthwerk !important;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 10px 15px 0 15px;
    line-height: 30px;
    text-align: left;
}

.html_carousel.small div.slide h5 {
    color: #FFF;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 0 15px;
    margin: 0 0 10px 0;    
}

.html_carousel div.slide p {
    font-size: 16px;
    padding: 0 0 30px 100px;
}

.html_carousel div.slide h4, .html_carousel div.slide p {
    color: white;
    margin: 0;
}

.html_carousel.small div.slide div {
    background-color: #771888;	
}

.Absolute-Center.is-Variable {
    display: table;
    height: auto;
}

.Absolute-Center {
    height: 50%;
    width: 100%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.clearfix {
    float: none;
    clear: both;
}

.navbar-header {
	width: 24%;
	border-right: 1px solid #61bcd7;
}

.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}

.navbar-nav {
    float: left;
    margin: 0;
    width: 76%;
}

.navbar .container {
    background-color: #50a8c2;
    height: 140px;
}

.navbar .container.subnav {
    background: url(/img/bg-000000-80.png) 0 0 repeat;
    height: 80px;
    opacity: 1.0;
    padding: 10px 30px;
}

.navbar .container.subnav img {
    float: left;
    margin-right: 10px;	
    margin-left: 15px;
}

.navbar .container.subnav .row h3 {
    font-family: Earthwerk !important;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 26px;
    color: #FFF;
    padding: 10px;	
}

.navbar-brand {
    height: 140px;
    line-height: 140px;
    padding: 5px 25px;	
}

.navbar-nav > li {
    float: left;
    padding: 10px 5px;
    width: 13%;
    min-height: 140px;
    text-align: center;
    border-right: 1px solid #61bcd7;    
    border-left: 1px solid #4195ae;
}

.navbar-nav > li.socialMedia {
    width: 24%;
    text-align: left;
    padding-left: 2%;
}

.navbar-nav > li a span {
	display: block;
	text-align: center;
	color: #FFF;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
}

.navbar-nav > li a:hover span {
    text-decoration: underline;	
}

.navbar-nav li.socialMedia h3 {
    font-family: Earthwerk;
    font-size: 16px;
    letter-spacing: 1px;
    color: #FFF;
    padding: 10px 5px 0 5px;
    margin-bottom: 0;
}

.navbar-nav li.socialMedia ul {
	display: block;
    float: left;
    margin: 0;
    padding: 0;
}

.dropdown-menu {
    padding: 0;	
}

li.mediaIcon {
    padding: 0;
    float: left;
    list-style: none;
}

.navbar-nav li.socialMedia ul li.mediaIcon {
    padding-right: 3px;	
}

.navbar-nav li.searchBox.mobile {
    display: none;	
}

.navbar-nav li.searchBox {
    border: none;
    float: left;
    width: 24%;
    padding: 10px 2px;
    margin: 0 auto;
    text-align: center;
}

.navbar-nav li.searchBox > form {
    padding: 35px 0;
    width: 100%;
}

.navbar-nav li.searchBox > form input.searchbox {
    border-radius: 16px 0 0 16px;
    background: #4196ae;
    height: 32px;
    outline: 0;
    border: 0;
    color: #FFF;
    padding: 0 10px;	
}

/*to change only one form and not all give unique class name like  class="search-form" */
.navbar-nav li.searchBox > form .search-btn {
    border-radius: 0px 16px 16px 0px;
    background: url(/img/icon-searchbox.png) -4px 0 no-repeat #4196ae;
    cursor:pointer;
    height: 32px;
    width: 36px;
    outline: 0;
    border: 0;
    color: #FFF;
    padding: 0 10px;    
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
    background:	#50a8c2;
}

.navbar-nav>li>.dropdown-menu {
    background: #50a8c2;
    border: 0;
}

.dropdown-menu>li>a {
    padding: 15px 20px;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    color: #FFF;
}

.dropdown-menu>li>a:hover {
	color:#FFF;
	background:#4096ad;
}

.glyphicon-search:before {
    content: "\e003";
}

header {
    position: relative;
    z-index: -1;
}

header.image-bg-fluid-height {
    padding: 115px 0 0 0;
    min-height: 480px;
}

.page-home header.image-bg-fluid-height {
    padding: 0;	
}

header > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -1;
}

header .container .row {
    text-align: left;
    margin: 150px 0 0 0;
    padding: 15px 0;
}

body.page-home header .container .row {
    margin: 200px 0 0 0;
}

header .container .row h1 {
    font-family: Earthwerk;
    font-size: 48px;
    letter-spacing: 1px;
    color: #FFF;	
}

header .container .row h3 {
    font-family: Earthwerk !important;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: none;
    line-height: 24px;
    color: #FFF; 
}

.col-lg-12 .col-lg-6 {
	padding: 0;
    display: inline-block;
    float: left;
    width: 50%; 
}

.container .row h2 {
    font-family: Earthwerk;
    font-size: 32px;
    letter-spacing: 1px;
    line-height: 32px;
    color: #50a8c2;
}

.container .row h2.purple {
	color: #6b3077;
}

.container .row h2.white {
    color: #fff;
}

.container .row h3 {
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
}

section#experience .row h3 {
    font-family: Earthwerk !important;
    font-size: 21px;
    letter-spacing: 1px;
    color: #50a8c2;    	
}

.container .row .col-left,
.container .row .col-right {
	float: left;
}

.container .row .col-left {
	width: 48%;
}

.container .row .col-right {
	padding: 10px 0 0 0;
    width: 52%;
}

.section-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 50px;
}

.section-fixed .col-lg-12 {
	padding: 0;
}

.section-image-right {
    float: right;
    margin: -20px 0 20px 20px;
    border: 10px solid #FFF;
}

.section-image {
    float: right;
    margin: 20px 0 20px 20px;
    border: 10px solid #FFF;
}

.section-image .thumb {
    position: relative;
}
    
.section-image .thumb .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
    color: #FFF;
}
  
.section-image .caption {
    background: #df2f8f;
    padding: 10px 15px;
    color: #FFF;
}

section {
    background: url(/img/bg-page-hr.png) center 0 repeat-y;	
}

section#tours {
    background: url(/img/bg-page-panel.png) center 250px no-repeat;   
}

section#blog, section#related-articles {
    background: url(/img/bg-page-btm.png) center -10px no-repeat; 	
}

.date {
	color: #999;
}

.summary {
	font-weight: 700;
}

.section-image .caption .date {
    color: #FFF;
    display: block;   
}
  
.row .right-align {
	text-align: right;
}

.tours-grid-inner .thumb {
    position: relative;
    overflow: hidden;
}

.tours-grid-inner .thumb img {
    width: 100%;	
}

.tours-grid-inner .thumb .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 8px 15px 2px 15px;
    color: #FFF;
    background: url(/img/bg-000000-80.png) 0 0 repeat;
    font-family: Earthwerk;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
}

.page-home .tours-grid-inner .thumb .title {
    bottom: -50px;	
}

.tours-grid-inner .thumb .title .desc {
	display:block;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    padding: 0 0 10px 0;
    position:relative;
    bottom:0;
    z-index:1;	
}

.tours-grid-inner.single .thumb .title {
    background: #df2f8f;
    opacity: 1;
    height: 75px;
    padding: 15px;
}

.tours-grid-inner.single .thumb .title > span {
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: block;
}
    
.tours-grid-inner .caption {
    background: #df2f8f;
    padding: 7px 15px;
    color: #FFF;
    font-size: 12px;
    line-height: 14px;
}

.tours-grid-inner .caption span {
    text-transform: uppercase;	
}

#blog .sub-section-heading.left {
	margin: 0 0 30px 0;
}

.tours-grid-inner .col-lg-4,
.tours-grid-inner .col-lg-6,
.tours-grid-inner .col-lg-8 {
	padding: 0 15px;
}

footer {
	background: url(/img/bg-footer.png) top center no-repeat;
	min-height: 200px;
	margin: 50px 0 0 0;
}

footer li, footer p, footer a {
	color: #FFF;
}

footer p.copyright {
	font-family: 'Open Sans', sans-serif !important;
	font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

footer .container {
	padding: 30px 30px 0 30px;
}

footer .container .col-lg-9 {
    padding-top: 50px;	
}

footer ul.menu {
    float: left;
    width: 100%;
    padding: 0;	
}

footer .container .col-lg-3 {
    padding: 5px 0 0 30px;	
}

footer .container .col-lg-3 h4 {
    font-family: Earthwerk;
    font-size: 24px;
    color: #FFF;
    letter-spacing: 1px;
}

footer ul.menu li {
	float: left;
	list-style-type: none;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 12px;
    color: #FFF;
    border-right: 1px solid #FFF;
}

footer ul.menu li a, footer ul.menu li a:hover,
footer ul.menu li active, footer ul.menu li a:focus {
    color: #FFF;
    line-height: 12px;
    text-decoration: underline;
}

footer ul.menu li:first-child {
    padding: 0 10px 0 0;	
}

footer ul.menu li:last-child {
    border-right: none;	
}

footer #socialMediaConnect ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

footer .go-to-top {
	width: 150px;
    margin: -75px 0 0 0;
    text-align: center;
}

footer .go-to-top a, footer .go-to-top a:hover, footer .go-to-top a:focus, footer .go-to-top a:active {
    text-decoration: none;
    color: #50a8c2;
}

footer .go-to-top span {
    font-family: Earthwerk;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 0 30px;
    margin: 0 auto;
    text-align: center;
    float: left;
    width: 100%;
    line-height: 16px;	
}

/* buttons */

.btn-default-purple {
	background: #6b3077;
	font-family: Earthwerk;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    color: #FFF;
    outline: 0;
    border: none;
    width: 200px;
    padding: 10px 0 5px 0;
    margin: 10px 20px 5px 0;
}

.btn-default-purple:hover, .btn-default-purple:active, .btn-default-purple:focus {
    color: #d0d0d0;    	
}

/* forms */
.form-group {
    margin-bottom: 48px;	
}

.form-group label {
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 21px;	
}

.form-control {
    border: none;
    outline: 0;
    border-radius: 0;
    background: #d0d0d0;	
}

.best-for {
    margin: 30px 0;
}
    
.best-for ul {      
    padding: 0;
    float: left;      
}

.best-for ul li {    
    float: left;
    list-style-type: none;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 48px;
    margin: 0;
    padding: 10px 0 0 0;
    text-transform: uppercase;
}

.best-for ul li img {
    float: left;	
}

@media (min-width:1240px) {
	.container {
	    width: 1240px;
	}
	
	section.gallery .container
       width: 100%;
    }
    	
	section#map .container {
	   width: 100%;
	   padding: 35px 0;
	}
	
	.tours-grid-inner {
	    padding: 0;
	    border: 9px solid #FFF;
	    margin-bottom: 30px;
	}
	
	.blog-grid-inner {
        margin-bottom: 20px;
        display: inline-block;
        float: left;
    }
}

@media (min-width:1200px) {
    .tours-grid-inner {
        padding: 0;
        border: 9px solid #FFF;
        margin-bottom: 30px;
    }	
}

@media(max-width:1199px) {
    body.page-home {
        background: url(/img/bg-hero-m.png) center top no-repeat;
    }
    
    body.page-content-detail {
        background: url(/img/bg-hero-tour-detail-m.png) center top no-repeat;
    }

    body.page-tour-overview {
        background: url(/img/bg-hero-tour-overview-m.png) center top no-repeat;
    }

    body.page-blog-detail {
        background: url(/img/bg-hero-blog-detail-m.png) center top no-repeat;
    }
        
    body.page-blog-overview {
        background: url(/img/bg-hero-blog-overview-m.png) center top no-repeat;
    }
                
    body.page-ask-question, body.page-book-now, body.page-template {
        background: url(/img/bg-hero-ask-m.png) center top no-repeat;
    }
    
    header > .hero-img {
       display: none;
    }
    
    .navbar-nav > li.socialMedia {
        padding: 0;
    }
    
    .navbar-nav li.socialMedia ul li.mediaIcon {
        padding-right: 1px;
    }
    
    .navbar-nav > li a span {
        line-height: 13px;
    }
    
    .container.subnav {
        display: none;
    }
    
    .tours-grid-inner {
        padding: 0;
        border: 9px solid #FFF;
        margin-bottom: 30px;
    }   
    
    .blog-grid-inner {
        margin-bottom: 20px;
        display: inline-block;
        float: left;
        width: 100%;
    }
    
    .navbar-header {
        float: none;
    }
    
    .navbar-toggle {
        display: block;
    }
    
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    
    .navbar-collapse.collapse {
        display: none !important;
    }
    
    .navbar-nav {
        float: none !important;
        margin: 7.5px -15px;
    }
    
    .navbar-nav>li {
        float: none;
    }
    
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .navbar-collapse.collapse.in { 
	  display: block!important;
	}
	
	.collapsing {
	  overflow: hidden!important;
	}
    
    /* Changes */
    .navbar-header {
        width: auto;
        border: none;
    }
    
    .navbar-brand {
        padding: 5px 0 5px 10px;
    }
    
    .navbar-inverse .navbar-toggle {
       border: none;
       margin: 40px 20px 0 0;
       background: url(/img/icon-hambuger-menu.png) top center no-repeat transparent !important;
       border-color: transparent;
       width: 48px;
       height: 64px;
    }
    
    .navbar-inverse .navbar-toggle .icon-bar {
       display: none;
    }
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 30px;
        height: 5px;
        border-radius: 1px;
    }
    
    .navbar-nav li.socialMedia, .navbar-nav li.searchBox {
       display: none;
    }
    
    .navbar-nav li.searchBox.mobile {
       display: block;
       width: 100%;
       padding: 0 15px;
    }
    
    .navbar-nav li.searchBox.mobile > form {
        padding: 15px 0;
        width: 100%;
    }
    
    .navbar-nav {
        float: left;
        margin: 0;
        width: 100%;
    }

    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        border-color: transparent;
        background: #50a8c2;
    }
    
    .navbar-nav > li {
        float: left;
        display: inline-block;
        padding: 10px 10px 0 10px;
        width: 100%;
        min-height: 40px;
        text-align: left;
        border-top: 1px solid #61bcd7;
        border-bottom: 1px solid #4195ae;
        border-left: none;
        border-right: none;
    }
    
    .navbar-nav > li:last-child {
        border-bottom: 0;   
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #FFF;
        white-space: normal;
    }

    .navbar-nav>li>.dropdown-menu {
        background: #50a8c2 !important;
        border: 0;
        margin: 0 -10px;
    }   
    
    .dropdown-menu>li>a {
       font-weight: 300;
    }

    .navbar-nav .open .dropdown-menu>li>a {
        padding: 15px 20px;
    }
        
    .navbar-nav > li:hover {
       background: #6b3077;
    }
    
    .navbar-nav > li ul li:hover {
       background: #4196ae;
    }

    .navbar-nav > li.searchBox.mobile:hover {
       background: transparent;
    }
        
    .navbar-nav > li a span {
        display: inline-block;
        color: #FFF;
        text-align: left;
        font-family: Earthwerk !important;
        font-style: normal;
        font-weight: 300;
        font-size: 21px;
        line-height: 21px;
        text-transform: uppercase;
    }
    
    .nav>li>a, .nav>li>a:hover {
       padding: 0;
       text-decoration: none;
    }
    
    .navbar-nav > li a:hover span {
        text-decoration: none;
    }
    .nav>li>a>img {
        max-width: none;
        margin-left: 0;
        margin-top: -10px;
    }
    
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
        max-height: none;
        padding: 0;
    }

    .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
        background: #6b3077;
    }
    
    .container {
        width: auto !important;
    }     
}

@media only screen and (min-width:993px) and (max-width: 1199px) {
    .tours-grid.col-lg-4 {
        width: 50%;
	    float: left;
	    display: inline-block;
    }
    
    .col-lg-6 {
        width: 50%;
        float: left;
        display: inline-block;    
    }
    
    footer .container .col-lg-9 {
	    width: 60%;
	    float: left;    
    }
   
}
   
@media(max-width:992px) {
	    
    .navbar-nav li.searchBox.mobile {
       display: block;
       width: 100%;
       padding: 0 15px;
    }
    
    .navbar-nav li.searchBox.mobile > form {
        padding: 15px 0;
        width: 100%;
    } 
    
    .container.subnav {
        display: none;
    }
    
    .tours-grid-inner {
       border: 10px solid #FFF;
       margin-bottom: 20px; 
    }
    
    .row.load-more {
        display: none;
    }
    
    .col-lg-6 {
	    display: block;
	    float: left;
	    width: 100%;
	}
	
    section#blog .col-lg-12 .col-lg-6 {
        padding: 0;
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
    
    .container .row .col-left, .container .row .col-right {
        width: 100%;
        float: left;
    }
    
    .container .row .col-left img, .container .row .col-right {
       width: 100%;
    }
    
    .container .row .col-right {
       padding: 10px 0;
    }
    
    footer .go-to-top {
        margin: -90px 0 0 0;        
    }	
	
	footer .container .col-lg-9 {
        width: 60%;
        float: left;    
    }
}

@media(max-width:768px) {
	
	section.subheader {
	    margin: 0;
	    padding: 0;
	}
	
	.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	   padding: 0;
	}
		
	section {
        padding: 0;
    }

    section#blog {
        padding: 30px 0 0 0;
    }
        
    .section-image, .section-image-right {
	    float: none;
	    margin: 0 0 20px 0;
	    border: 10px solid #FFF;
	    width: 100%;
	}
	
	.section-image .thumb > img, .section-image-right > img {
	   width: 100%;
	}

    header .container .row {
        margin: 100px 0 0;
        padding: 15px 0;
    }
	    
    .row {
        margin: 0;
        position: relative;
    }
    
    .row.load-more {
        text-align: center;
        padding-bottom: 40px;
    }
    
    footer .container {
	    padding: 30px 15px 0 15px;
	}
	footer .container .col-lg-3 {
	    padding: 10px 0 0 0px;
	}
	
	footer .container .col-lg-9 {
	    position: absolute;
	    top: 30px;
	}
	
	footer ul.menu li:first-child {
	    padding: 0 5px 0 0;
	}
	
	footer ul.menu li {
	    padding: 0px 2px;
	    font-size: 11px;
	}
	
	footer .container .col-lg-3 h4 {
	    font-family: Earthwerk;
	    font-size: 18px;
	    letter-spacing: 0 !important;
	    color: #FFF;
	    float: left;
	    width: 75px;
	}
	
	#socialMediaConnect {
	   float: left;
	}
	
	.tours-grid-inner {
       border: 10px solid #FFF;
       margin-bottom: 20px;	
	}
	
	.date {
	   font-size: 18px;
	   line-height: 48px;
	}
	
	.summary {
        font-weight: 700;
	    font-size: 18px;
	    line-height: 21px;
    }
    
    .tours-grid-inner .thumb .title {
         font-size: 16px;
    }
}